<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mi primera web</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            Mi Web 🐍
        </div>

        <div class="nav-links">

    {% if session.get("usuario") %}

        <span class="usuario-logueado">
    👋 Hola, {{ session["usuario"] }}
</span>

    {% endif %}

    <a href="/">🏠 Inicio</a>

    <a href="/usuarios">👥 Usuarios</a>

    {% if session.get("usuario") %}

        <a href="/logout">🚪 Cerrar sesión</a>

    {% else %}

        <a href="/login">🔐 Iniciar sesión</a>

    {% endif %}

</div>

    </nav>


    <main class="contenido">

        <h1>¡Bienvenido!</h1>

        <p>Escribí tu nombre:</p>

        <form method="POST">

            <input
                type="text"
                name="nombre"
                placeholder="Tu nombre"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>


        {% if nombre %}

            <div class="mensaje">

                <h2>¡Hola, {{ nombre }}! 👋</h2>

                <p>Bienvenido a nuestra web 😎</p>

            </div>

        {% endif %}

    </main>

</body>

</html>
